body{
    background-color: #c5b6ac;
}
a{
    color: #6C698D;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 15px;
}
.navbar{
    background-color: #D4D2D5;
    padding: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 15%);
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
}

h1{
    color: #6C698D;
    text-align: center;
    display: flex;
    margin: 20px;
    letter-spacing: 1px;
}
